.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    padding: 16px;
}
  
  .image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

.photo-header {
  padding-top: 15px;
  font-family: 'Cambria';
  font-weight: bold;
  text-decoration: none;
}

.photo-header:hover {
  text-decoration: underline;
}